.form {
	display: flex;
	align-items: center;
	position: relative;
	text-align: center;
	/* flex: auto; */
	/* padding-bottom: 30px; */
	/* border: 1px solid #bdbdbd; */
	margin-top: 64px;
	padding-bottom: 10px;
	background-color: white;
}

.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
}

.circle:hover {
	transform: scale(1.2);
}

.circle {
	cursor: pointer;
	margin-left: 31px;
	margin-top: 10px;
}

.col {
	margin-left: 210px;
	margin-top: 10px;
	margin-right: 50px;
	/* position: absolute; */
	left: 15px;
}

:root {
	--circle-size: 500px;
	--inner-circle-size: 200px;
	--circle-rest: calc(var(--circle-size) - var(--inner-circle-size));
	--item-color: rgb(255, 255, 255);
	--item-hover-color: #273B69;
	;
}

body {
	background-color: #eee;
}

.wrapper {
	position: relative;
	width: var(--circle-size);
	height: var(--circle-size);
	border-radius: 50%;
	display: flex;
	align-items: center;
	transform: rotate(45deg);
	flex-wrap: wrap;
	overflow: hidden;
}

.item {
	width: 50%;
	height: 50%;
	display: flex;
	word-wrap: inherit;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	text-align: center;
}

.span {
	font-size: 10px;
}

.item:before {
	position: absolute;
	content: '';
	width: var(--inner-circle-size);
	height: var(--inner-circle-size);
	border-radius: 50%;
	box-shadow: 0px 0px 0px var(--circle-rest) var(--item-color);
}

.item:first-child:before {
	right: 0;
	bottom: 0;
	transform: translateX(50%) translateY(50%);
}

.item:nth-child(2):before {
	bottom: 0;
	left: 0;
	transform: translateX(-50%) translateY(50%);
}

.item:nth-child(3):before {
	top: 0;
	right: 0;
	transform: translateX(50%) translateY(-50%);
}

.item:last-child:before {
	top: 0;
	left: 0;
	transform: translateX(-50%) translateY(-50%);
}

.item:hover::before {
	box-shadow: 0px 0px 0px var(--circle-rest) var(--item-hover-color);
}

.item span,
.icon_con {
	transform: rotate(-45deg);
	/* font-size: 0.8rem; */
	font-family: Arial, Helvetica, sans-serif;
}

.item:hover span {
	color: white;
	fill: #eee;
}

.item:hover .icon {
	fill: #eee;
}

/* .icon:hover{
	fill: white;
  } */
.icon {
	fill: #273B69;
}