.header {
    position: absolute;
    /* position: fixed; */
    width: 100%;
    height: 64px;
    left: 0px;
    top: 0px;
    opacity: 1;

    background: #273B69;
}

/* .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
} */