.footer {
	width: 100%;
	background-color: #273B69;
	padding-top: 40px;
	padding-bottom: 35px;
	height: 40px;
	text-align: center;
	font-family: Comic Sans MS, Comic Sans, cursive;
	font-size: large;
}
