.sort {
	border-radius: 12px;
	border: none;
	align-items: center;
	margin-left: 160px;
	margin-top: 10px;
	margin-right: 50px;
	/* position: absolute; */
	/* left: 15px; */
	cursor: pointer;
	/* color: #FFFFFF; */
}

.sort__link {
	position: absolute;
	bottom: 0;
	margin-bottom: 10px;
	left: 198px;
	text-decoration: none;
	font-size: 14px;
	line-height: 20px;
	background-color: white;
	color: #050505;
	/* background-color: #FFFFFF; */
	border: none;
	cursor: pointer;
	
}

.sort__link_selected {
	color: #1A1A1A;
}

.sort__link:hover {
	color: #1A1A1A;
	transform: scale(1.2);
}